/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Typography */
$sans-serif: "Lexend", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, -apple-system, BlinkMacSystemFont, sans-serif !default;

/* Colors */
$background-color: #021B1A !default;
$text-color: #F1F7F6 !default;
$muted-text-color: #B3D4D6 !default;
$primary-color: #27EAA6 !default;
$active-color: #D0FF71 !default;
$border-color: #1D3C3D !default;
$success-color: #27EAA6 !default;
$warning-color: #FFD230 !default;
$danger-color: #FF637E !default;
$info-color: #90B8B9 !default;
$code-background-color: mix(#fff, $background-color, 10%) !default;
$code-background-color-dark: mix(#fff, $background-color, 5%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: $primary-color !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#fff, $link-color, 25%) !default;
$navicon-link-color-hover: $link-color-hover !default;

/* syntax highlighting (base16) */
$base00: #0F2A2B !default;
$base01: #1D3C3D !default;
$base02: #315758 !default;
$base03: #456B6C !default;
$base04: #CDE4E5 !default;
$base05: #E2F2F3 !default;
$base06: #E2F2F3 !default;
$base07: #F1F7F6 !default;
$base08: #FB64B6 !default;
$base09: #FFD230 !default;
$base0a: #BBF451 !default;
$base0b: #05DF72 !default;
$base0c: #53EAFD !default;
$base0d: #51A2FF !default;
$base0e: #C27AFF !default;
$base0f: #FF6467 !default;

/* Icon colors */
.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

/* Buttons */
.btn.btn--primary {
  color: $background-color;
  &:hover {
    color: $background-color;
  }
}

.btn.btn--inverse {
  color: $background-color;
  &:hover {
    color: $background-color;
  }
}

.btn.btn--light-outline {
  color: $text-color;
  border: 1px solid #628D8E;
}

.btn.btn--success {
  color: $background-color;
  &:hover {
    color: $background-color;
  }
}

.btn.btn--warning {
  color: #461901;
  &:hover {
    color: #461901;
  }
}

.btn.btn--danger {
  color: #4D0218;
  &:hover {
    color: #4D0218;
  }
}

.btn.btn--info {
  color: $background-color;
  &:hover {
    color: $background-color;
  }
}

/* next/previous buttons */
.pagination{
  .pagination--pager {
    color: $primary-color;

    &:visited {
      color: $text-color;
    }

    &:hover {
      background-color: mix($primary-color, $background-color, 5%);
      color: $primary-color;
    }

    &.disabled {
      color: rgba($muted-text-color, 0.5);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
